body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


body {
  font-family: "Ubuntu" !important;
}


   
   
  .card {
    width: 76%;
    height: 200px;
    border: 2px solid #e7e7e7;

 
    border-radius: 4px;
 
      padding: .5rem;
	position: relative;
	display: flex;
	align-items: center;
	transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(black, 0.5);
  overflow:hidden;
  color: black;
  background: rgba(0, 162, 255, 0.479);
   
  }

  .card:hover{
    transform: translateY(-20px);
			opacity: 1;
  }

  .grid {
 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 10px;
    align-items: stretch;

     
    }

